body {
    background-color: #000000; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
}

.header {
    background-color: #000000; /* Cor de fundo do cabeçalho */
    color: #00ccaa; /* Cor do texto do cabeçalho */
}

a {
    color: #00ccaa; /* Cor dos links */
}

a:hover {
    color: #00ccaa; /* Cor dos links ao passar o mouse */
}

/* Estilos adicionais para o treeview */
div#nav-tree {
    background-color: #000000; /* Cor de fundo do treeview */
}

div#nav-tree-contents {
    background-color: #000000; /* Cor de fundo do conteúdo do treeview */
}

div#nav-sync a {
    color: #000000; /* Cor dos links no botão de sincronização */
}

div#nav-sync a:hover {
    color: #000000; /* Cor dos links no botão de sincronização ao passar o mouse */
}

ul.tablist {
    background-color: #000000; /* Cor de fundo da lista de abas */
}

ul.tablist li a {
    color: #00ccaa; /* Cor dos links na lista de abas */
}

ul.tablist li a:hover {
    color: #00ccaa; /* Cor dos links na lista de abas ao passar o mouse */
}

/* Estilos para itens de treeview */
ul#nav-tree-contents li {
    background-color: #000000; /* Cor de fundo dos itens do treeview */
}

ul#nav-tree-contents li a {
    color: #00ccaa; /* Cor dos links dos itens do treeview */
}

ul#nav-tree-contents li a:hover {
    color: #00ccaa; /* Cor dos links dos itens do treeview ao passar o mouse */
}
